*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.card-div{
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
}

.card-inner{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.card{
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
.card p{
    color: grey;
    margin-bottom: 20px;
}
.card h2{
    color: black;
}
.card-inn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.card-inn div {
    display: flex;
    flex-direction: row;
    
}
.card-inn div p{
    font-size: 15px;
}
.card-inn a{
    text-decoration: none;
    color: blue;
    margin-right: 10px;
}
.card-inn p{
    margin-right: 10px;
    font-size: 30px;
}