*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header{
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav-bar{
  width: 90%;
  margin:10px 10px;
  display: flex;
  justify-content: space-between;
}
.nav-bar img{
  width: 4%;
}
.tabs{
  width: 90%;
  display: flex;
}
.tabs button{
  display: flex;
  background-color: #fff;
  border: none;
  margin: 15px ;
  font-size: 16px;
  font-weight: bold;
}