*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
}
.bg{
    height:600px;
    width:350px;
    background-color:#a6ce39;
    border-radius: 30px;
    /* text-align:end; */
    color: #fff;
}
.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0;
    color: #fff;
}
#p1{
    text-decoration: none;
    font-size: 45px;
    margin-right:170px;
}
.h1 p{
    color: #fff;
}

.ft{
    /* border: 2px solid black; */
    width: 310px;
    height:510px;
    text-align:start;
    background-color: #fff;
    color: black;
    margin-top:20px;
    border-radius: 30px;
    padding:20px;
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:500;
    font-size:20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: grey;
    margin-bottom:20px;
}
img{
    width:40px;
    padding:8px;
    margin-bottom:20px
}
.inputs{
    background-color: rgb(235, 225, 225);
    padding-left:20px;
    display: flex;
    align-items: center;
    width:250px;
    height: 50px;
    margin: 10px;
    border-radius: 50px;
    border: 2px solid transparent;
}

input{
    background-color: rgb(231, 229, 229);
    border: none;
    outline:none;
    width: 100%;
    height: 40px;
    margin: 10px;
    padding-left: 10px;
}
.inputs:hover{
        border-color:rgb(247, 150, 5) ;
    }
button{
    font-size: 20px;
    font-style: bold;
    color: #fff;
    text-align: center;
    width:274px;
    height: 54px;
    border-radius: 50px;
    border: none;
    margin:30px 20px 30px 15px;
    /* margin-bottom: 15px; */
    background-color: rgb(247, 150, 5);
    cursor: pointer;
}
.h2{
    color: black;
    padding: 0;
    margin: 0;
}
.h2 input{
    accent-color:  rgb(247, 150, 5);
    width: 20px;
    height: 20px;
    margin:10px 10px 0 40px;
}
.h3{
    text-align: center;
    font-size: large;
}
a{
    text-decoration: none;
    margin-left: 5px;
    color:  rgb(247, 150, 5);
}